{% extends 'layout.html.twig' %}

{% block content %}
	{% if error %}
		 <p>
			 <span style="color: red; font-weight: bold;">{{ error }}</span>
		 </p>
	{% endif %}

	<p>
		{% if user %}
			<strong>{{ user.email }} ({{ user.id }})</strong> logged in. <a href="{{ path_for('logout') }}">Log out</a>
		{% else %}
			<a href="{{ path_for('authorize') }}">Login with IBMid</a>
		{% endif %}
	</p>
{% endblock %}
